<style>
    .form-group{
        padding-left:200px !important;
        margin-right: 20px;
    }
  
</style>
<clr-modal [(clrModalOpen)]="opened" [clrModalSize]="'xl'" [clrModalClosable]="false">
    <h3 class="modal-title">Product </h3>
    <div class="modal-body"> 
        <clr-alert [clrAlertType]="'alert-danger'" [clrAlertClosable]="false" [clrAlertSizeSmall]="true" *ngIf="error.isTrue">
            <div class="alert-item">
                <span class="alert-text">
                    {{error.message}}
                </span>
            </div>
        </clr-alert>
        <form [formGroup]="serviceForm" class="compact row">
            <section class="form-block col-sm-6">
                <div class="form-group">
                    <label for="">Service Name</label>
                    <input id=""  type="text" placeholder="" formControlName="name">
                    <span class="not-valid" *ngIf="serviceForm.controls['name'].hasError('required') && (serviceForm.controls['name'].dirty || serviceForm.controls['name'].touched)">Required field </span>
                </div>
                <div class="form-group">
                    <label for="details">Category</label>
                    <div class="select">
                        <select formControlName="fk_category_id">
                            <option value="" disabled selected>Choose category</option>
                             <option *ngFor="let category of categories" value="{{category.category_id}}">{{category.category_name}}</option>
                        </select>
                         <span class="not-valid" *ngIf="serviceForm.controls['fk_category_id'].hasError('required') && (serviceForm.controls['fk_category_id'].dirty || serviceForm.controls['fk_category_id'].touched)">Required field </span>
                    </div>
                </div>
                <div class="form-group">
                    <label for="formFields_8">Description</label>
                    <textarea id="formFields_8" formControlName="description" rows="2"></textarea>
                </div>
                <div class="form-group">
                    <label for="">Man Hours</label>
                    <input id=""  type="number" formControlName="man_hours" min="1" max="24">
                    <span class="not-valid" *ngIf="serviceForm.controls['man_hours'].hasError('required') && (serviceForm.controls['man_hours'].dirty || serviceForm.controls['man_hours'].touched)">Required field </span>

                </div>
                <div class="form-group">
                    <label for="">Unit Charge</label>
                    <input id=""  type="number"formControlName="unit_charge" min="0">
                         <span class="not-valid" *ngIf="serviceForm.controls['unit_charge'].hasError('required') && (serviceForm.controls['unit_charge'].dirty || serviceForm.controls['unit_charge'].touched)">Required field </span>
                </div>
            </section>
            <section class="form-block  col-sm-6">
                <div class="form-group">
                    <label for="details">Tax Type</label>
                    <div class="select">
                    <select formControlName="tax_type" #taxType>
                    <option value="P">Percentage</option>
                    <option value="F">Fixed Amount</option>
                </select>
                    </div>
                </div>
                <div class="form-group" *ngIf="taxType.value!=0">
                    <label for="">Tax {{(taxType.value=="P")?' (%)':' (fixed)'}} </label>
                    <input id=""  type="number"formControlName="tax">
                </div>
                <div class="form-group">
                    <label for="details">Discount Type</label>
                    <div class="select">
                    <select formControlName="discount_type" #discountType>
                    <option value="P">Percentage</option>
                    <option value="F">Fixed Amount</option>
                </select>
                    </div>
                </div>
                <div class="form-group" *ngIf="discountType.value!=0">
                    <label for="">Discount {{(discountType.value=="P")?' (%)':' (fixed)'}} </label>
                    <input id=""  type="number" formControlName="discount" min="0">
                </div>
                
                <ul class="list-unstyled">
                    <li>Sub-Total: $ {{calculateSubTotal()}} </li>
                    <li>Discount: $ {{calculateDiscountedAmount()}}</li>
                    <li>Tax: $ {{calculateTaxAmount()}}</li>
                    <li>Total: $ {{calculateTaxAmount() + (calculateSubTotal() - calculateDiscountedAmount()) }}</li>
                </ul>
            </section>
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-link" (click)="save()">
            Add
        </button>        
        <button type="button" class="btn btn-danger" (click)="close()">
            Close
        </button>
    </div>
</clr-modal>
