   .circle-button{
        margin-top: 10px;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background-color:transparent;
    }
    .circle-button:hover{
        background-color: #eee; 
    }