<style>
    .form-group{
        padding-left:200px !important;
        margin-right: 20px;
    }
</style>
<clr-modal [(clrModalOpen)]="opened" [clrModalSize]="'md'" [clrModalClosable]="false">
    <h3 class="modal-title">Unit </h3>
    <div class="modal-body"> 
    <form [formGroup]="unitForm" class="compact row">
        <section class="form-block col-sm-12">
            <div class="form-group">
                <label for="" >Unit Name</label>
                <input id="" formControlName="unit_name" type="text" placeholder="">
                 <span class="not-valid" *ngIf="unitForm.controls['unit_name'].hasError('required') && (unitForm.controls['unit_name'].dirty || unitForm.controls['unit_name'].touched)">Required field </span>
            </div>
            <div class="form-group">
                <label for="" >Unit Code</label>
                <input id="" formControlName="code" type="text" placeholder="">
                 <span class="not-valid" *ngIf="unitForm.controls['code'].hasError('required') && (unitForm.controls['code'].dirty || unitForm.controls['code'].touched)">Required field </span>
            </div>
            <div class="form-group">
                <label for="formFields_8">Description</label>
                <textarea formControlName="description" rows="2"></textarea>
            </div> 
        </section>
    </form>
   </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-link" [disabled]="!unitForm" (click)="save()">
            Add
        </button>        
        <button type="button" class="btn btn-danger" (click)="close()">
            Close
        </button>
    </div>
</clr-modal>