<!-- product table -->
<table class="table">
    <thead>
        <tr>
            <th *ngIf="showCheckboxes"></th>
            <th>Name</th>
            <th>Category</th>
            <th *ngIf="showTotalArea">Estimated Quantity</th>
            <th *ngIf="showTotalArea">Total Size</th>
            <th>Selling Price</th>
            <th>Taxed Amount</th>
            <th>Discounted Amount</th>
            <th>Total</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let product of records; let i = index" >
            <td *ngIf="showCheckboxes">
                <div class="checkbox" >
                    <input id="checkbox-{{i}}" type="checkbox" [(ngModel)]="checkedItems[i]" (click)="onChecked(product)">
                    <label for="checkbox-{{i}}"></label>
                </div>
            </td>
            <td>{{product.product.name}}</td>
            <td>{{product.product.category}}</td>
            <td *ngIf="showTotalArea">{{product.product.quantity}} <clr-icon shape="edit" size="16" (click)="addQuantity(product)"></clr-icon></td>
            <td  *ngIf="showTotalArea"> {{calculateTotalSize(product)}} <clr-icon shape="add" size="16" (click)="addArea(product)"></clr-icon></td>
            <td>{{product.product.selling_cost}}</td>
            <td>{{product.product.tax}}</td>
            <td>{{product.product.discount}}</td>
            <td>$ {{product.product.selling_cost + (product.product.selling_cost * (product.product.tax/100)) 
                -(product.product.selling_cost* (product.product.discount/100)) }}</td>
            <td><clr-icon shape="edit" size="16" (click)="editClicked(product)"></clr-icon></td>
        </tr>
    </tbody>
</table>
<!-- /product table -->